/* ==========================
   COMUNIDADE
   ========================== */
*{
  font-family: Arial, Helvetica, sans-serif;
}


.comunidade {
  padding: 80px 0;
  justify-items: center;
}

.comunidade p{
  padding-top: 0px;
  color: #717171;

}

#cumunidade{
  max-width: 1320px;
  width: 100%;
  margin: 0;
  
}

#titulo-comunidade{
  text-align: center;
  margin: 0;
  margin: 50px 0px;
}

#titulo-comunidade h2{
  font-size: 2.3em;
  padding: 15px 0px;
  color: #4D4D4D; 
  margin: 0;
}

.comunidade h3{
  padding: 15px 0px;
  margin: 0;
  color: #4D4D4D; 
  font-size: 1.3em; 
}


#conteiner-comunidade{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  justify-items: center;
  gap: 20px;
  margin: 0;
  margin: 0px 30px;
}

#conteiner-comunidade p{
  width: 200px;
  justify-items: center;
  margin: 0;
}

#conteiner-comunidade i{
  font-size: 40px;
  color: #103E13;
  box-shadow: 24px 0px 0px #E8F5E9;
  border-radius: 5px;
  margin: 0;
}

@media (max-width: 600px){

  #titulo-comunidade h2{
  font-size: 1.4em;  
  padding: 0px; 
}

  #conteiner-comunidade{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  justify-items: center;
  gap: 60px;
  margin: 0px 30px;
}

.comunidade h2{ 
  font-size: 1em;

}


}