@import url('./navbar.css');
@import url('./banner.css');
@import url('./clientes.css');
@import url('./comunidade.css');
@import url('./features.css');
@import url('./depoimento.css');
@import url('./blog.css');
@import url('./preco.css');
@import url('./registre.css');
@import url('./footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --grayish-blue: #263238;
    --blue-gray: #CFD8DC;
    --white: #fff;
    --silver: #F5F7FA;
    --ice-blue: #CDDCF0;
}