<section class="banner">
  <!-- RESPONSÁVEL: BANNER -->

<div class="carrossel">

  <div class="div-banner ativo">
    
    <div class="banner-txt">
      <h2>Lições e percepções </h2>
      <h2 class="h2-banner">de 8 anos</h2>
      <p>Onde expandir seu negócio como fotógrafo: site ou redes sociais?</p>
      <button class="registro-banner"><a href="#registre">Registre agora</a></button>
    </div>

    <div class="banner-img">
      <img src="../assets/images/banner/banner_01.svg" alt="">
    </div>

  </div>

  <div class="div-banner">
    
    <div class="banner-txt">
      <h2>Fotografia</h2>
      <h2 class="h2-banner">como Negócio</h2>
      <p>Como sair do amadorismo e estruturar sua fotografia para gerar renda <br> de forma consistente.</p>
      <button class="registro-banner"><a href="#preco">Aprender agora</a></button>
    </div>

    <div class="banner-img">
      <img src="../assets/images/banner/banner_02.svg" alt="">
    </div>
    

  </div>

  <div class="div-banner">
    
    <div class="banner-txt">
      <h2>Autoridade</h2>
      <h2 class="h2-banner">e Posicionamento</h2>
      <p>Construa presença, confiança e valor percebido no mercado fotográfico.</p>
      <button class="registro-banner"><a href="#depoimento">Ver conteúdo</a></button>
    </div>

    <div class="banner-img">
      <img src="../assets/images/banner/banner_03.svg" alt="">
    </div>

  </div>

</div>
<div class="bolinhas">
  <span class="dot ativo"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

</section>