<section class="blog">
	<!-- RESPONSÁVEL: BLOG -->
	<div class="blog-container">
		<h2>Cuidar é o novo marketing.</h2>

		<p>
			O blog da Nextcent é o melhor lugar para ler sobre as últimas novidades, tendências e muito mais
			relacionadas à nossa comunidade de membros. Veja quem está se juntando à comunidade, saiba como nossos
			membros estão aumentando sua receita e muito mais.
		</p>

		<div class="blog-cards">
			<!-- CARD 1 -->
			<div class="blog-card">
				<img src="../assets/images/blog/imagem 01.jpg" alt="Blog 1" />

				<div class="card-content">
					<h3>Criando processos de proteção simplificados com o OneRen</h3>

					<a href="https://justgo.com/creating-streamlined-safeguarding-processes-ngb/" target="_blank">
						leia mais →
					</a>
				</div>
			</div>

			<!-- CARD 2 -->
			<div class="blog-card">
				<img src="../assets/images/blog/imagem 02.webp" alt="Blog 2" />

				<div class="card-content">
					<h3>Quais são as suas responsabilidades em matéria de proteção e como pode geri-las?</h3>

					<a
						href="https://justgo.com/what-are-your-sports-safeguarding-responsibilities-and-how-can-you-manage-them/"
						target="_blank"
					>
						leia mais →
					</a>
				</div>
			</div>

			<!-- CARD 3 -->
			<div class="blog-card">
				<img src="../assets/images/blog/imagem 03.webp" alt="Blog 3" />

				<div class="card-content">
					<h3>Reformulando o Modelo de Adesão com a Triathlon Australia</h3>

					<a
						href="https://justgo.com/revamping-the-membership-model-with-triathlon-australia/"
						target="_blank"
					>
						leia mais →
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
