<section class="comunidade">
  <!-- RESPONSÁVEL: COMUNIDADE -->

  <div id="cumunidade">

    <div id="titulo-comunidade">
      <h2>Gerencie toda a sua comunidade <br> em um único sistema.</h2>
      <p>Para quem o Nextcent é indicado?</p>
    </div>

    <div id="conteiner-comunidade">

      <div class="card-comunidade">
        <i class="fas fa-user"></i>
        <h3>Organizações de <br> membros</h3>
        <p>Nosso software de gestão de membros oferece automação completa para renovações e pagamentos de membros.</p>
      </div>

      <div class="card-comunidade">
        <i class="far fa-building"></i>
        <h3>Associações <br> Nacionais</h3>
        <p>Soluções escaláveis para gerenciar grandes volumes de associados, eventos e contribuições com eficiência.</p>
      </div>

      <div class="card-comunidade">
        <i class="fas fa-user-friends"></i>
        <h3>Clubes & <br> grupos</h3>
        <p>Ferramentas simples e flexíveis para organizar membros, cobranças e comunicação em um só lugar.</p>
      </div>

    </div>
  </div>

</section>
