<section class="depoimento">

  <div class="depoimento-container">
    <div class="depoimento-imagem">
      <img src="/assets/images/depoimento/tim_smith.jpg" alt="Imagem de Tim Smith">
    </div>

    <div class="empresas-info">
      <p class="depoimento-text">
        “Ao longo do meu trabalho na British Dragon Boat Racing Association, pude acompanhar de perto a evolução dos nossos processos e da nossa comunicação digital. A estrutura adotada trouxe mais clareza para a gestão, facilitando o relacionamento com membros e parceiros. As soluções aplicadas ajudaram a organizar informações, otimizar fluxos internos e reduzir retrabalho no dia a dia. Houve um ganho perceptível em eficiência e profissionalismo, refletindo diretamente na imagem da associação. Hoje, contamos com uma base mais sólida para crescer, planejar eventos e fortalecer a comunidade esportiva que representamos.“.
      </p>
      <h3>Thim Smith</h3>
      <p>“British Dragon Boat Racing Association“</p>
    </div>

    <div class="empresas-logo-content">
      <div class="empresas-logo">
        <img src="/assets/images/depoimento/Meta.png" alt="Logo da Meta">
        <img src="/assets/images/depoimento/Apple.png" alt="Logo da Apple">
        <img src="/assets/images/depoimento/Google.png" alt="Logo da Google">
        <img src="/assets/images/depoimento/Github.png" alt="Logo do GitHub">
        <img src="/assets/images/depoimento/Microsoft.png" alt="Logo da Microsoft">
        <img src="/assets/images/depoimento/Amazon.png" alt="Logo da Amazon">

        <div class="empresas-btn">
          <a 
          class="btn"
          href="https://www.meta.com/br/en/" 
          target="_blank" 
          rel="noopener noreferrer"
          >
            Conheça todos os clientes
            <img src="/assets/icons/depoimento/Button.svg" alt="Botão da Direita"></img>
          </a>
        </div>
      </div>

    </div>
  </div>

</section>