<section class="footer" id="footer">
  <div class="footer-container">

    <div class="footer-grid">

      <!-- Marca --> 
      <div class="footer-col">
        <div class="footer-brad">
          <a href="/" class="footer-logo">
            <img src="/assets/icons/footer/icon-footer.svg" alt="Nextcent">
              <span>Nextcent</span>
          </a>

          <p class="footer-copyright">Copyright © <span class="footer-year"></span> Landify UI Kit.</p>
          <p class="footer-copyright">Todos os direitos reservados</p>
        </div>

        <!-- Redes Sociais -->
        <nav class="footer-social" aria-label="Redes sociais">
          <ul class="footer_social-list">
            <li>
              <a href="https://www.instagram.com/instadonext/" 
              target="_blank" 
              rel="noopener noreferrer"
              aria-label="Instagram da Nextcent"
              class=" social-link instagram">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/facedonext" 
              target="_blank" 
              rel="noopener noreferrer"
              aria-label="Facebook da Nextcent"
              class=" social-link facebook"
              >
                <i class="fa-brands fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/banconext/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Linkedin da Nextcent"
              class=" social-link linkedin"
              >
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/VideosdoNext"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Youtube da Nextcent"
              class=" social-link youtube"
              >
                <i class="fa-brands fa-youtube"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Companhia -->
      <nav class="footer-nav" aria-labelledby="footer_company-title">
        <h2 id="footer_company-title" class="footer-title">Companhia</h2>
        <ul class="footer-list">
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#">Preço</a></li>
          <li><a href="#">Depoimento</a></li>
        </ul>
      </nav>

      <!-- Suporte -->
      <nav class="footer-nav" aria-labelledby="footer_support-title">
        <h2 id="footer_support-title" class="footer-title">Suporte</h2>
        <ul class="footer-list">
          <li><a href="#">Central de Ajuda</a></li>
          <li><a href="#">Termos de Serviços</a></li>
          <li><a href="#">Jurídico</a></li>
          <li><a href="#">Política de Privacidade</a></li>
          <li><a href="#">Status</a></li>
        </ul>
      </nav>

       <!-- Newsletter -->
      <section class="footer-newsletter" aria-labelledby="newsletter-title">
        <h2 id="newsletter-title" class="footer-title">Mantenha-se atualizado</h2>
          <form class="newsletter-form">
              <label for="newsletter-email" class="sr-only">
                Seu endereço de email
              </label>

              <div class="newsletter_form-input">
                <input id="newsletter-email"
                type="email"
                placeholder="Seu endereço de email"  
                required
                >
                <button type="submit" aria-label="Enviar email">
                  <i class="fa-regular fa-paper-plane"></i>
                </button>
              </div>
          </form>
      </section>

    </div>
  </div>
</section>

