<section class="navbar">
  <!-- RESPONSÁVEL: NAVBAR -->
  <nav id="navbar">
    <div class="container-nav">
      <a href="#banner">
        <div id="logo-nav">
          <img src="../assets/logos/navbar/logo.png" alt="" />
        </div>
      </a>

      <div id="link-nav">
        <ul id="ul-nav">
          <li><a href="#banner">Inicio</a></li>
          <li><a href="#clientes">Nossos Clientes</a></li>
          <li><a href="#comunidade">Comunidade</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#depoimento">Depoimento</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#preco">Preço</a></li>
        </ul>

        <button class="registro-nav btn-registre">
          Registre Agora <i class="fas fa-arrow-right"></i>
        </button>

        <button id="menu-toggle">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
    </div>
  </nav>
</section>
