@import url('./navbar.css');
@import url('./banner.css');
@import url('./clientes.css');
@import url('./comunidade.css');
@import url('./features.css');
@import url('./depoimento.css');
@import url('./blog.css');
@import url('./preco.css');
@import url('./registre.css');
@import url('./footer.css');